.inner {
  border: 1px solid;
  padding: 50px 130px;
}
.wrap {
  width: 80%;
}
.ttl {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 120px;
}
.wp-block-table th,
.wp-block-table td {
  border: initial;
  border-bottom: 1px solid;
  vertical-align: middle;
  padding: 20px;
}
.wp-block-table .has-fixed-layout th {
  width: 30%;
}

@media screen and (max-width: 833px) {
  .inner {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 768px) {
  .inner {
    padding: 30px 20px;
  }
  .wp-block-table th,
  .wp-block-table td {
    font-size: 12px;
  }
}
