.inner {
  padding: 0 5%;
}

.ttl {
  text-align: center;
}

form {
  margin-top: 80px;
}

p {
  font-size: 28px;
  margin-top: 20px;
}

input {
  border: solid 2px black;
  width: 60%;
}

textarea {
  border: solid 2px black;
  width: calc(100% - 20px);
}

.wpcf7-submit {
  color: white;
  background-color: gray;
  border: initial;
  padding: 10px;
  margin-top: 10px;
  width: 100px;
  text-align: center;
}
.wpcf7-submit:hover {
  background-color: blueviolet;
}

@media screen and (max-width: 768px) {
  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
