body {
  font-family: Inter;
}
/* mv */
.mv-area li img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.slick-prev {
  left: 30px !important;
}
.slick-next {
  right: 30px !important;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-arrow {
  z-index: 1;
}

/**********************
notice
**********************/
.notice {
  margin-top: 248px;
  width: calc(100% - 240px);
  max-width: 1200px;
  margin-inline: auto;
}
.notice__ttl {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.89px;
}
.notice__lists {
  margin-top: 41px;
  margin-left: 34px;
}
.notice__lists__item {
  display: flex;
  column-gap: 32px;
}
.notice__lists__item:not(:first-child) {
  margin-top: 24px;
}
.notice__lists__item__txt--date {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}
.notice__lists__item__txt--ttl {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}
.notice__btn {
  width: 267px;
  height: 44px;
  background-color: #d9d9d9;
  text-align: center;
  margin-top: 50px;
  display: block;
  margin-inline: auto;

  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
}
