p{
  font-size: 24px;
  color: red;
}
h1{
  font-size: 50px;
}
body {
  background-color: brown;
/**********************
footer
**********************/
footer {
  margin-top: 201px;
  background-color: #D9D9D9;
  padding: 36px 0 10px 0;
}
.footer__inner1200 {
  width: calc(100% - 240px);
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 180px;
  height: 65px;
  border: solid 1px #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
}
.footer__adress {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.footer__snsLinks {
  margin-top: 24px;
  display: flex;
  column-gap: 30px;
}
.footer__menu {
  text-align: center;
}
.footer__menu__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}
.footer__menu__item:not(:first-child) {
  margin-top: 36px;
}
.footer__copyRight {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  margin-top: 29px;
}