p {
  font-size: 50px;
}

.wrap {
  max-width: 1200px;
  margin-inline: auto;
}

.mvArea {
  text-align: center;
}

.ttl {
  font-weight: 700;
  font-size: 50px;
  margin-top: 100px;
}

.wrap .inner .interview {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

/**********************
header
**********************/
header {
  padding: 31px 0;
  background-color: #d9d9d9;
}
.header__wrap {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  width: calc(100% - 240px);
  max-width: 1200px;

  position: relative;
}
.header__logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 59px;
  text-align: center;
  width: 231px;
  height: 59px;
  border: solid 1px #000;
  background-color: antiquewhite;
}
.header__logo:hover {
  background-color: blueviolet;
}
.header__list {
  display: flex;
  justify-content: space-around;
  column-gap: 48px;
}
.header__list__item {
  font-size: 24px;
  font-weight: 400;
  line-height: 59px;
}
.header__list__item:hover {
  background-color: blueviolet;
}

/**********************
notice
**********************/
.notice {
  margin-top: 248px;
  width: calc(100% - 240px);
  max-width: 1200px;
  margin-inline: auto;
}
.notice__ttl {
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.89px;
}
.notice__lists {
  margin-top: 41px;
  margin-left: 34px;
}
.notice__lists__item {
  display: flex;
  column-gap: 32px;
}
.notice__lists__item:not(:first-child) {
  margin-top: 24px;
}
.notice__lists__item__txt--date {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
}
.notice__lists__item__txt--ttl {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
}
.notice__lists__item__txt--ttl:hover {
  background-color: blueviolet;
}
.notice__btn {
  width: 267px;
  height: 44px;
  background-color: #d9d9d9;
  text-align: center;
  margin-top: 50px;
  display: block;
  margin-inline: auto;

  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
}
.notice__btn:hover {
  background-color: blueviolet;
}

/**********************
footer
**********************/
footer {
  margin-top: 201px;
  background-color: #d9d9d9;
  padding: 36px 0 10px 0;
}
.footer__inner1200 {
  width: calc(100% - 240px);
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  width: 180px;
  height: 65px;
  border: solid 1px #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
}
.footer__adress {
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.footer__snsLinks {
  margin-top: 24px;
  display: flex;
  column-gap: 30px;
}
.footer__menu {
  text-align: center;
}
.footer__menu__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}
.footer__menu__item:not(:first-child) {
  margin-top: 36px;
}
.footer__copyRight {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: center;
  margin-top: 29px;
}
